<ion-app>
    <ion-router-outlet></ion-router-outlet>
<!--  <ion-tabs >-->
<!--    <ion-tab-bar translucent="true" slot="home" color="primary">-->
<!--      <ion-tab-button  tab="home">-->
<!--        <ion-icon name="home"></ion-icon>-->
<!--        <ion-label>Accueil</ion-label>-->
<!--      </ion-tab-button>-->

<!--      <ion-tab-button tab="browse" >-->
<!--        <ion-icon name="heart"></ion-icon>-->
<!--        <ion-label>Parcourir</ion-label>-->
<!--      </ion-tab-button>-->

<!--      <ion-tab-button  tab="settings">-->
<!--        <ion-icon name="settings"></ion-icon>-->
<!--        <ion-label>Paramètres</ion-label>-->
<!--      </ion-tab-button>-->
<!--    </ion-tab-bar>-->
<!--  </ion-tabs>-->
</ion-app>

