.text-card {
  font-size: large;
  font-weight: bold;
}


.clear:before, .clear:after {
  content: '';
  display: table;
}

.clear:after {
  clear: both
}

.clear {
  *zoom: 1;
}

.center {
  height: 100%
}

.your-activities {
  color: #5DAEB3;
  font-weight: bold
}

.their-activities {
  color: #826251;
  font-weight: bold
}

.center-title {
  text-align: center;
  font-weight: bolder;
  font-size: 1.2em;
}
.center-title-resume {
  text-align: center;
}

.blocHome {
  height: 200px;
  background-color: #5DAEB3;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 74%);
}

.counter {
  margin-top: 5%;
}

.step {
  font-size: 2.5em;
}
