.text-card {
  font-size: large;
  font-weight: bold;
}

ion-button {
  margin-top: 30px;
float: right;
}

.clear:before, .clear:after {
  content: '';
  display: table;
}

.clear:after {
  clear: both
}

.clear {
  *zoom: 1;
}