<ion-header>

</ion-header>

<ion-content color="light">
    <div class="ion-button">
        <ion-button routerLink="/settings">
            <ion-icon  name="settings"></ion-icon>
        </ion-button>
    </div>
    <span class="clear"></span>
    <ion-card class="welcome-card">
        <ion-card-header>
            <ion-card-title>Activités</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <canvas #barChart></canvas>
        </ion-card-content>
    </ion-card>
    <ion-title>Points clés</ion-title>
    <ion-card>
        <ion-card-content  (click)="openModalSteps()">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-row>
                            <img alt="icon" height="40" src="./assets/images/foot.svg" width="40">
                        </ion-row>
                    </ion-col>
                    <ion-col size="8">
                        <ion-row>
                            <ion-text class="text-card" color="secondary">Nombres de pas</ion-text>
                        </ion-row>
                        <ion-row>
                            <ion-text><span style="font-weight: bolder">1080</span> pas</ion-text>
                        </ion-row>
                    </ion-col>

                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-row>
                            <img alt="icon" height="40" src="./assets/images/flame.svg" width="40">
                        </ion-row>
                    </ion-col>
                    <ion-col size="8">
                        <ion-row>
                            <ion-text class="text-card" color="secondary">Calories perdues</ion-text>
                        </ion-row>
                        <ion-row>
                            <ion-text><span style="font-weight: bolder">1080</span> pas</ion-text>
                        </ion-row>
                    </ion-col>

                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-content  (click)="openModalDist()">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-row>
                            <img alt="icon" height="40" src="./assets/images/ruler-filed.svg" width="40">
                        </ion-row>
                    </ion-col>
                    <ion-col size="8">
                        <ion-row>
                            <ion-text class="text-card" color="secondary">Distance parcourue</ion-text>
                        </ion-row>
                        <ion-row>
                            <ion-text><span style="font-weight: bolder">1080</span> pas</ion-text>
                        </ion-row>
                    </ion-col>

                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
</ion-content>
